$path = 'styl/'
@import $path + 'colors'
@import $path + 'func'
@import $path + 'tables'
@import $path + 'img'

body
    margin: 0
    padding: 0

.p-bold
    margin: 0 10px
    font-weight: bold
    font-size: 25px

.content p
    line-height: 30px

.content p:first-child
    margin-top: 0

.content p:last-child
    margin-bottom: 0

.footer p
    color: black
    margin: 0px
    padding: 0 40px
    line-height: 20px

.footer a
    color: $dicabegColor
    text-decoration: none

.networks
    margin: 10px

.networks a
    margin: 5px

#app-name
    display: block
    float left

#code
    text-align: center

#button
    margin: 0
    display: inline-block
    color: white
    background: $dicabegColor
    border-radius: 10px
    line-height: 16px
    padding: 20px 25px

@import $path + 'response'
