@media screen and (max-width: 400px)
    table
        width: 100%

    .header
        padding: 10px 10px 5px 10px

    .content-footer
        font-size: small

    .report
        padding: 25px 0

    .tr-data td:first-child
        width: 40%

    .p-bold
        font-size: 20px

    .footer p
        padding: 0

    .p-data
        padding: 0

    #title-image
        width: 90%

    #td-title
        width: 70%

    #code
        padding: 15px 25px
        font-size: 20px

    #logo-dicabeg
        dimension: 60px
