// DEBUG:
// table, tr, td
//     border: 1px solid red

table
    color: black
    width: 600px
    text-align: left

.header
    padding: 10px 10px 0 10px

.content-title
    color: white
    background: $darkColor
    border-bottom-width: inherit
    border-radius: 20px 20px 0 0
    padding: 10px 20px

.content
    padding: 0 25px
    border-right: 1px solid $darkColor
    border-left: 1px solid $darkColor
    border-top-width: inherit

.content-footer
    color: white
    background: $darkColor
    border-radius: 0 0 20px 20px
    padding: 10px 0
    text-align: center

.footer
    font-size: small
    text-align: center
    padding: 10px

.tr-data
    background: #80808021

.tr-data td:first-child
    width: 30%

.report
    border-left: 1px solid $darkColor
    border-right: 1px solid $darkColor
    padding:  25px
    text-align: center

.report tr td
    border: 1px solid $darkColor

#td-logo
    width: 65px
    padding-right: 10px

#td-title
    width: 80%
    padding: 0 20px

#td-portada
    text-align: center

#report-id
    color: white
    background: $darkColor
    padding: 5px

#report-value
    color: $dicabegColor
    font-size: 19px

#report-leyenda td, #report-value td
    padding: 5px
    font-weight: bold
