@media screen and (max-width: 400px)
    table
        width: 90%

    .p-bold
        font-size: 20px

    #td-title
        width: 70%

    #button
        padding: 15px 25px

    #logo-dicabeg
        dimension: 60px
