// DEBUG:
// table, tr, td
//     border: 1px solid red

table
    width: 600px
    color: black
    padding: 25px
    text-align: left

.header
    padding: 10px

.title
    color: white
    background: $darkColor
    border-bottom-width: inherit
    border-radius: 20px 20px 0 0
    padding: 15px 25px 15px 25px

.content
    border: 1px solid $darkColor
    border-top-width: inherit
    border-radius: 0 0 20px 20px

.footer
    font-size: small
    text-align: center
    padding: 10px

#td-logo
    width: 65px

#td-title
    margin: 0
    width: 80%
